{% extends 'Site_app/base_style/base.html' %}
{% load static %}


{% block title %}
    Reset password
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'Site_app/css/common/password_reset.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="container">
                <form action="{% url 'password_reset' %}" method="post" class="password-reset-form">
                    {{ form }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
